body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #2e8783;
    color: white;
}

.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #2e8783;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #1d5d57;
}
