<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>За Нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutUS.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="about-container">
        <h1>За Нас</h1>
        <p class="paragraph">
            Ние сме тим од 3 студенти по софтверско инженерство и информациски системи при ФИНКИ - Скопје кои имаат за цел да направат иновативен проект фокусиран на предвидување на движењето на цените на акциите на Македонската Берза.
            Овој проект има за цел да користи напредни алгоритми и техники за анализа на податоци за да ги предвиди трендовите на берзата и да обезбеди вредни сознанија за инвеститорите.
        </p>

        <h2>Соработници</h2>
        <div class="contributors">
            <!-- Contributor Cards -->
            <div class="card">
                <img src="{{ url_for('static', filename='/images/stefan.jpeg') }}" alt="Contributor 1" class="profile-pic">
                <h3>Стефан Тагарски</h3>
                <p>
                    <a href="mailto:stefantagarski@gmail.com" class="email-link">stefantagarski@gmail.com</a>
                </p>
                <div class="social-links">
                    <a href="https://github.com/stefantagarski" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/stefan-tagarski-942518265/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='/images/david.jpeg') }}" alt="Contributor 2" class="profile-pic">
                <h3>Давид Христов</h3>
                <p>
                    <a href="mailto:davidhristov10@gmail.com" class="email-link">davidhristov10@gmail.com</a>
                </p>
                <div class="social-links">
                    <a href="https://github.com/davidhristov59" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/david-hristov-0985a4176/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='/images/nikola.jpeg') }}" alt="Contributor 3" class="profile-pic">
                <h3>Никола Дулев</h3>
                <p>
                    <a href="mailto:nikoladulev13@gmail.com" class="email-link">nikoladulev13@gmail.com</a>
                </p>
                <div class="social-links">
                    <a href="https://github.com/dulev23" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/nikola-dulev/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 20px">
         <button class="back-button" onclick="history.back()">Back</button>
    </div>

  <footer class="mt-auto">
    <div class="container">
        <p class="mb-0">&copy; Дизајн и Архитектура на Софтвер 2024</p>
    </div>
</footer>
</body>
</html>
