{% extends "base.html" %}

{% block title %}Графикони{% endblock %}

{% block content %}

{% if error %}
<div class="alert">{{ error }}</div>
{% endif %}

<!-- Display the graph if the base64 string is available -->
{% if graph_base64 %}
<h2 class="text-center">Графикон за {{ selected_issuer }}</h2>
<div class="text-center">
    <img src="data:image/png;base64,{{ graph_base64 }}" alt="Stock Price Graph">
</div>
<div style="margin-left: 1076px;margin-top: 15px;">
    <a href="/graphs" class="btn btn-secondary">Назад</a>
</div>
{% else %}
<p class="text-center text-muted">Нема достапен графикон.</p>
{% endif %}

<!-- Display the form only if the graph is not available -->
{% if not graph_base64 %}
<form method="POST" id="issuerForm" class="text-center">
    <label for="issuer">Избери издавач:</label>
    <select name="issuer" id="issuer">
        {% for issuer in issuers %}
        <option value="{{ issuer }}">{{ issuer }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="go-back-btn btn">Генерирај Граф</button>
</form>
{% endif %}
{% endblock %}

