body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2e8783;
}

header .navbar-brand {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 545px;
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 800px;
}

.go-back-btn {
    background-color: #2e8783;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.go-back-btn:hover {
    background-color: darkslategrey;
    transform: scale(1.05);
}

form label {
    font-weight: 500;
    font-size: 1rem;
    display: block;
    margin-bottom: 8px;
}

form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button {
    background-color: #2e8783;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: darkslategrey;
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.alert {
    font-size: 1rem;
    margin-top: 15px;
    padding: 10px;
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
}

footer {
    background-color: #2e8783;
    color: #d9e6f2;
    text-align: center;
    padding: 15px;
}

#backToMain {
    background-color: darkslategrey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}